html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #efc1A0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 250px;
    margin: 0 auto;
    border-radius: 8px;
}

input {
    color: #c65a34;
    background-color: #f7ede1;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
    box-shadow: inset 1px 1px 5px #f5924b;
}

button {
    color: #f7ede1;
    background-color: #c65a34;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
button:hover {
    background-color: #f7ede1;
    color: #c65a34;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #f5924b;
    color: #f7ede1;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px #c65a34;
    font-weight: bold;
}
ul li:hover {
    background-color: #c65a34;
    cursor: pointer;
}